html, body
{
    height: 100%;
}

#login-response
{
    width: 550px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-bottom: 260px;
    margin-left: -250px;
    border: 1px solid #E36868;
    color: #E36868;
    text-align: center;
    font-size: 0.9em;
    line-height: 1em;
    padding: 5px 0;
}

#login-container
{
    width: 500px;
    height: 375px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -235px; /* half height */
    margin-left: -250px; /* half width */
}

#login-header
{
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
}

#login-header h2
{
    padding-top: 0;
    font-size: 1.4em;
    line-height: 1em;
}

form
{
    width: 370px;
    padding: 10px 0;
    margin: 0 auto;
}

form div > label, form span
{
    line-height: 32px;
    float: left;
}

form input[type=text], form input[type=password]
{
    width: 255px;
    height: 30px;
    margin-bottom: 15px;
    float: right;
    font-size: 1.3em;
    line-height: 30px;
    border: 1px solid #bbb;
}
