* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	font-family: Helvetica, "Segoe UI", Arial, sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}	

#maincontainer {
	width: 75%;
	max-width: 1250px;
	min-width: 850px;
	margin: 50px auto 0 auto;
}

#header {
	background: transparent url('logo.png') 24px center no-repeat;
	height: 90px;
	padding-left: 270px;
	position: relative;
}

#header h1 {
	margin: 0;
	padding-top: 20px;
	font-size: 2.2em;
}

#header h1 a, #header h1 a:hover, #header h1 a:visited {
	color: #000;
}

#header h1 span {
	color: #ccc;
}

#header #ajaxresponse {
	height: 90px;
	position: absolute;
	top: 0;
	right: 0;
}

#header #ajaxresponse img {
	width: 31px;
	height: 31px;
	padding: 26px 0 29px 29px;
}

#header #ajaxresponse p {
	text-align: right;
	margin-top: 28px;
}

#header #ajaxresponse a.view, #header #ajaxresponse span.result {
	padding: 5px 20px;
	margin: 25px 0;
	display: block;
	text-align: center;
	border: 1px solid #85c44e;
	color: #85c44e;
}

#header #ajaxresponse a.view {
	border-radius: 4px;
}

#contentwrapper {
	float: left;
	width: 100%;
}

#contentcolumn {
	margin-left: 250px;
	min-height: 480px;
	padding: 0 2px 20px 20px;
}

#contentcolumn input#title {
	width: 100%;
	height: 35px;
	margin-bottom: 11px;
	font-size: 1.4em;
}

#contentcolumn select {
	height: 25px;
	vertical-align: middle;
	font-size: 1.0em;
	padding: 3px;
}

#contentcolumn div.settings p {
	margin-bottom: 6px;
}

#contentcolumn input.submit {
	float: right;
	padding: 9px 36px;
	background: #a9db80; /* Old browsers */
	background: -moz-linear-gradient(top, #a9db80 0%, #85c44e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9db80), color-stop(100%,#85c44e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a9db80 0%,#85c44e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a9db80 0%,#85c44e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a9db80 0%,#85c44e 100%); /* IE10+ */
	background: linear-gradient(top, #a9db80 0%,#85c44e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#85c44e',GradientType=0 ); /* IE6-9 */
	border-radius: 4px;
	border: 1px solid #48B500;
	font-weight: 600;
	color: #275707;
	cursor: pointer;
}

#contentcolumn table {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	width: 100%;
	font-size: 0.9em;
}

#contentcolumn table th {
	background: #ebebeb;
	text-align: left;
	border-left: 1px solid #ccc;
}

#contentcolumn table th:first-child {
	border-left: none;
}

#contentcolumn table td, th {
	border-bottom: 1px solid #ccc;
	padding: 3px 5px;
}

#contentcolumn table tbody tr.normal-row {
	background-color: #f7f7f7;
}

#contentcolumn table thead tr .tablesorter-header {
	background-image: url(sort-default.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

#contentcolumn table thead tr .tablesorter-header:hover {
	background-color: #ddd;
}

#contentcolumn table thead tr .tablesorter-headerSortUp {
	background-image: url(sort-asc.gif);
}

#contentcolumn table thead tr .tablesorter-headerSortDown {
	background-image: url(sort-desc.gif);
}

#contentcolumn .table-options, #contentcolumn .table-info {
	margin: 10px 0;
	clear: none;
	font-size: 0.9em;
}

#contentcolumn table td.c, #contentcolumn .table-info {
	text-align: center;
	color: #999;
}

#contentcolumn table td.c {
	width: 45px;
}

#contentcolumn .table-options input[type=submit] {
	vertical-align: middle;
	padding: 3px 12px;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 3px;
	cursor: pointer;
}

#contentcolumn .table-options input[type=submit]:hover {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

#navigation {
	float: left;
	width: 250px;
	margin-left: -100%;
	min-height: 500px;
}

#navigation div#user {
	margin: 4px auto 10px auto;
	width: 250px;
	line-height: 1.1em;
}

#navigation div#user img#gravatar {
	padding: 2px;
	border: 1px solid #ddd;
	margin-right: 5px;
	float: left;
	width: 48px;
	height: 48px;
}

#navigation div#user div a {
	font-size: 0.8em;
}

#navigation ul#menu {
	border-top: 1px solid #ddd;
}

#navigation ul#menu li {
	list-style: none;
	background: #f4f4f4;
	border-bottom: 1px solid #ddd;
}

#navigation ul#menu li a.nav-link:hover, #navigation ul#menu li a.selected {
	background: #eee;
}

#navigation ul#menu li img.nav-icon {
	padding: 10px 10px 10px 18px;
	vertical-align: -12px;
	background: #989898;
}

#navigation ul#menu li .nav-link {
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: .95em;
	color: #111;
	width: 160px;
	padding: 8px 0 8px 8px;
	display: inline-block;
}

#navigation ul#menu li .nav-link.single {
	width: 198px;
	margin-right: 0;
}

#navigation ul#menu li a.nav-toggle {
	vertical-align: -1px;
	width: 16px;
	height: 16px;
	padding: 9px 10px 7px 10px;
}

#navigation ul#menu li a.nav-toggle img {
	border: 0;
}

#navigation ul#menu li ul li {
	width: 204px;
	border-top: 1px solid #ddd;
	border-bottom: none;
	border-left: 1px solid #ddd;
	margin-left: 44px;
}

#navigation ul#menu li ul li:first-child {
	border-top: none;
}

#navigation ul#menu li ul li .nav-link {
	width: 197px;
	margin: 0;
	text-transform: none;
}

#navigation ul#menu li ul li .nav-link.selected {
	background: #ccc;
}

#footer {
	padding: 4px 0;
	font-size: 0.7em;
	margin: 10px 0;
	color: #bbb;
}

.clear {
	clear: both;
}
