#contentcolumn table {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	width: 100%;
	font-size: 0.9em;
}

#contentcolumn table th {
	background: #ebebeb;
	text-align: left;
	border-left: 1px solid #ccc;
}

#contentcolumn table th:first-child {
	border-left: none;
}

#contentcolumn table td, th {
	border-bottom: 1px solid #ccc;
	padding: 3px 5px;
}

#contentcolumn table tbody td {
	height: 25px;
}

#contentcolumn table tbody tr.normal-row {
	background-color: #f7f7f7;
}

#contentcolumn table thead tr .tablesorter-header {
	background-image: url(sort-default.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

#contentcolumn table thead tr .tablesorter-header:hover {
	background-color: #ddd;
}

#contentcolumn table thead tr .tablesorter-headerSortUp {
	background-image: url(sort-asc.gif);
}

#contentcolumn table thead tr .tablesorter-headerSortDown {
	background-image: url(sort-desc.gif);
}

#contentcolumn .table-options, #contentcolumn .table-info {
	padding: 10px 0;
	clear: none;
	font-size: 0.9em;
}

#contentcolumn table td.c, #contentcolumn .table-info {
	text-align: center;
	color: #999;
}

#contentcolumn table td.c {
	width: 45px;
}

p#itemnum-container, input#select-all {
	display: none;
}