/* 
	Login Stylesheet
	Temporary
*/

body {
	background: #f7f7f7;
	text-align: center;
}

#registerbox {
    width: 300px;
    height: 400px;
	margin: 0 auto;
	text-align: left;
	background: #fff;
	margin-top: 10%;
	border: 1px solid #D1D1D1;
	font-size: 0.8em;
	padding: 5px;
}

#registerbox h1,h2,h3,h4,h5,h6,p,a,span {
	text-align: center;
}